body{
    font-family:'Raleway',sans-serif;
    font-weight: 300;    
}
.button {
    background-color:white;
}

header {
    margin:10px;
    padding:10px;
    background-color: lightseagreen;
}
header a {
    color:#fff;
}

.nav navbar-nav {
    display: inline-flex;
}
.nav .dropdown{
    display:inline-flex;
    align-items:baseline;
    justify-content: center;
    vertical-align: baseline;
    border-radius:10px;
}
.nav .dropdown a:hover{
    background-color:aquamarine;
    
}
.nav .dropdown-menu{
    background-color:lightseagreen;
    border-radius:10px;
}

.nav ul li {
    text-align: left;
    display: flex;  
}